//Variables Globales
$color-a: white;
$color-fondo: #333;
$color-encabezados: white;
$size-encabezados: 40px;
$color-nav: black;
$color-caja: blue;
$width-caja: 250px;
$height-caja: 250px;
$border: 2px solid red;
$size-a: 21px;